In [1]:
import pandas as pd

# Load the data from the files
df_coverage = pd.read_excel(r'C:\Users\shiva\OneDrive\Documents\Shivani\Guvi\vaccination\coverage_data.xlsx')
df_incidence = pd.read_excel(r'C:\Users\shiva\OneDrive\Documents\Shivani\Guvi\vaccination\incidence_rate_data.xlsx')
df_reported_cases = pd.read_excel(r'C:\Users\shiva\OneDrive\Documents\Shivani\Guvi\vaccination\reported_cases_data.xlsx')
df_vaccine_intro = pd.read_excel(r'C:\Users\shiva\OneDrive\Documents\Shivani\Guvi\vaccination\vaccine_introduction_data.xlsx')
df_vaccine_schedule = pd.read_excel(r'C:\Users\shiva\OneDrive\Documents\Shivani\Guvi\vaccination\vaccine_schedule_data.xlsx')

In [2]:
df_coverage['TARGET_NUMBER'] = df_coverage['TARGET_NUMBER'].fillna(df_coverage['TARGET_NUMBER'].median())
df_coverage['DOSES'] = df_coverage['DOSES'].fillna(df_coverage['DOSES'].median())
df_coverage.dropna(subset=['COVERAGE'], inplace=True)

In [3]:
df_incidence['INCIDENCE_RATE'] = df_incidence['INCIDENCE_RATE'].fillna(0)

In [4]:
df_reported_cases.dropna(subset=['CASES'], inplace=True)

In [5]:
df_reported_cases.head(10)

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0
5,COUNTRIES,ABW,Aruba,2023.0,NTETANUS,Neonatal tetanus,0.0
6,COUNTRIES,ABW,Aruba,2023.0,PERTUSSIS,Pertussis,1.0
7,COUNTRIES,ABW,Aruba,2023.0,POLIO,Poliomyelitis,0.0
9,COUNTRIES,ABW,Aruba,2023.0,TTETANUS,Total tetanus,0.0
10,COUNTRIES,ABW,Aruba,2023.0,TYPHOID,Typhoid,0.0
11,COUNTRIES,ABW,Aruba,2023.0,YFEVER,Yellow fever,0.0

In [6]:
# def normalize_numeric_data(df, columns):
#     for col in columns:
#         if pd.api.types.is_numeric_dtype(df[col]):
#             df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())
#             df[col] = df[col].clip(0, 1)  # Ensure values are strictly between 0 and 1
#     return df


# def normalize_numeric_data(df, columns):
#     for col in columns:
#         if pd.api.types.is_numeric_dtype(df[col]):
#             col_min = df[col].min()
#             col_max = df[col].max()
#             if col_max - col_min == 0:
#                 df[col] = 0  # Or another appropriate value, like the mean or median
#             else:
#                 df[col] = (df[col] - col_min) / (col_max - col_min)
#             df[col] = df[col].clip(0, 1)  # Ensure values are within the range [0, 1]
#     return df

In [7]:
df_vaccine_schedule['TARGETPOP'] = df_vaccine_schedule['TARGETPOP'].fillna(df_vaccine_schedule['TARGETPOP'].mode())
df_vaccine_schedule['SOURCECOMMENT'] = df_vaccine_schedule['SOURCECOMMENT'].fillna(df_vaccine_schedule['SOURCECOMMENT'].mode())
df_vaccine_schedule['AGEADMINISTERED'] = df_vaccine_schedule['AGEADMINISTERED'].fillna(df_vaccine_schedule['AGEADMINISTERED'].mode())
df_vaccine_schedule.dropna(subset=['TARGETPOP'], inplace=True)
df_vaccine_schedule.dropna(subset=['SOURCECOMMENT'], inplace=True)
df_vaccine_schedule.dropna(subset=['AGEADMINISTERED'], inplace=True)

In [8]:
df_vaccine_schedule.head(10)

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,RISKGROUPS,General/routine,NATIONAL,M2,0-11 mois
6,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,1.0,RISKGROUPS,Risk group(s),NATIONAL,1st contact,"police, firemen, law-enforcement workers"
7,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,2.0,RISKGROUPS,Risk group(s),NATIONAL,+M1,"police, firemen, law-enforcement workers"
8,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,3.0,RISKGROUPS,Risk group(s),NATIONAL,+M5,"police, firemen, law-enforcement workers"
9,ABW,Aruba,AMRO,2023.0,HEPA_ADULT,Adult Hepatitis A vaccine,1.0,TRAVELLERS,Travellers,NATIONAL,1st contact,travellers
10,ABW,Aruba,AMRO,2023.0,HEPA_ADULT,Adult Hepatitis A vaccine,2.0,TRAVELLERS,Travellers,NATIONAL,+M6,travellers
11,ABW,Aruba,AMRO,2023.0,HEPA_PEDIATRIC,Pediatric Hepatitis A vaccine,1.0,TRAVELLERS,Travellers,NATIONAL,1st contact,travellers
12,ABW,Aruba,AMRO,2023.0,HEPA_PEDIATRIC,Pediatric Hepatitis A vaccine,2.0,TRAVELLERS,Travellers,NATIONAL,+M6,travellers
13,ABW,Aruba,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,1.0,HW,Health workers,NATIONAL,1st contact,healthcare workers
14,ABW,Aruba,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,3.0,HW,Health workers,NATIONAL,+M5,healthcare workers

In [9]:
import mysql.connector
from io import StringIO

In [10]:
def create_connection(db_user, db_password, db_host, db_name):
    try:
        connection = mysql.connector.connect(
            user=db_user,
            password=db_password,
            host=db_host,
            database=db_name,
            auth_plugin='mysql_native_password',
            use_pure=True
        )
        if connection.is_connected():
            print("Connected to MySQL database")
            return connection
        else:
            print("Failed to connect to MySQL database")
            return None
    except mysql.connector.Error as error:
        print(f"Error: {error}")
        return None

In [11]:
def pandas_to_mysql(connection, table_name, csv_data):
    """
    Inserts data from a CSV string into a MySQL table.

    Args:
        connection: MySQL connection object.
        table_name (str): The name of the table to insert into.
        csv_data (str):  A string containing the CSV data.
    """

    df = pd.read_csv(StringIO(csv_data), sep='\t')  # Read CSV data into Pandas DataFrame
    cursor = connection.cursor()

    try:
        cols = ",".join([f"`{col}`" for col in df.columns])

        for _, row in df.iterrows():
            values = tuple(row.fillna(None)) # Replace NaN with None
            placeholders = ', '.join(['%s'] * len(values))
            insert_query = f"INSERT INTO {table_name} ({cols}) VALUES ({placeholders})"
            cursor.execute(insert_query, values)

        connection.commit()
        print(f"Data successfully inserted into table '{table_name}'")

    except mysql.connector.Error as error:
        print(f"Error: {error}")
        connection.rollback()  # Rollback changes in case of error

    finally:
        cursor.close()

In [12]:
create_connection('root', 'Mysql@2025', '127.0.0.1', 'vaccination')

Error: 2003: Can't connect to MySQL server on '127.0.0.1:3306' (Errno 10061: No connection could be made because the target machine actively refused it)

In [13]:
conn = create_connection('root', 'Mysql@2025', '127.0.0.1', 'vaccination')

Error: 2003: Can't connect to MySQL server on '127.0.0.1:3306' (Errno 10061: No connection could be made because the target machine actively refused it)

In [14]:
def drop_table(db_user, db_password, db_host, db_name, drop_table_arg):
    try:
        connection = mysql.connector.connect(
            user=db_user,
            password=db_password,
            host=db_host,
            database=db_name,
            auth_plugin='mysql_native_password',
            use_pure=True
        )
        if connection.is_connected():
            print("Connected to MySQL database")
            return connection
        else:
            print("Failed to connect to MySQL database")
            return None
            
        cursor = connection.cursor()
        cursor.execute(drop_table_arg)
        connection.commit()
    except sqlite3.Error as e:
        return f"An error occurred: {e}"
        connection.rollback()
    finally:
        cursor.close()
        connection.close()
     
    return "Dropped successfully."

In [15]:
def create_table_func(create_table_arg,db):
     try :
          conn = sqlite3.connect(db)
          cursor = conn.cursor()
          cursor.execute(create_table_arg)
          conn.commit()
     except sqlite3.Error as e:
          return f"An error occurred: {e}"
          conn.rollback()
     finally:
          cursor.close()
          conn.close()
     
     return "Table Created successfully."

In [16]:
def insert_sql(table_name, db, dfs):
    try :
          conn = sqlite3.connect(db)
          cursor = conn.cursor()
          dfs.to_sql(table_name,conn,if_exists='append',index=False)
          conn.commit()
    except sqlite3.Error as e:
        return f"An error occurred: {e}"
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
     
    return "Records Inserted successfully."

In [17]:
df_coverage_drop = '''drop table if exists coverage;'''
df_incidence_drop = '''drop table if exists incidence;'''
df_reported_cases_drop = '''drop table if exists reported cases;'''
df_vaccine_intro_drop = '''drop table if exists vaccine intro;'''
df_vaccine_schedule_drop = '''drop table if exists vaccine schedule;'''

df_coverage_create = '''CREATE TABLE if not exists coverage_data (
                        `GROUP` VARCHAR(255),
                        CODE VARCHAR(255),
                        NAME VARCHAR(255),
                        YEAR INT,
                        ANTIGEN VARCHAR(255),
                        ANTIGEN_DESCRIPTION VARCHAR(255),
                        COVERAGE_CATEGORY VARCHAR(255),
                        COVERAGE_CATEGORY_DESCRIPTION VARCHAR(255),
                        TARGET_NUMBER INT,
                        DOSES INT,
                        COVERAGE DECIMAL(5,2)
                    )
                    '''
df_incidence_create = '''CREATE TABLE if not exists incidence_rate_data (
                        `GROUP` VARCHAR(255),
                        CODE VARCHAR(255),
                        NAME VARCHAR(255),
                        YEAR INT,
                        DISEASE VARCHAR(255),
                        DISEASE_DESCRIPTION VARCHAR(255),
                        DENOMINATOR VARCHAR(255),
                        INCIDENCE_RATE DECIMAL(10, 2)
                    )'''  

df_reported_cases_create = '''CREATE TABLE if not exists reported_cases (
    `GROUP` VARCHAR(255),
    CODE VARCHAR(255),
    NAME VARCHAR(255),
    YEAR INT,
    DISEASE VARCHAR(255),
    DISEASE_DESCRIPTION VARCHAR(255),
    CASES INT
)'''

df_vaccine_intro_create = '''CREATE TABLE if not exists vaccine_introduction_data (
    ISO_3_CODE VARCHAR(3),
    COUNTRYNAME VARCHAR(255),
    WHO_REGION VARCHAR(255),
    YEAR INT,
    `DESCRIPTION` VARCHAR(255),
    INTRO VARCHAR(255)
)'''

df_vaccine_schedule_create =  '''CREATE TABLE if not exists vaccine_schedule_data (
    ISO_3_CODE VARCHAR(3),
    COUNTRYNAME VARCHAR(255),
    WHO_REGION VARCHAR(255),
    YEAR INT,
    VACCINECODE VARCHAR(255),
    VACCINE_DESCRIPTION VARCHAR(255),
    SCHEDULEROUNDS INT,
    TARGETPOP VARCHAR(255),
    TARGETPOP_DESCRIPTION VARCHAR(255),
    GEOAREA VARCHAR(255),
    AGEADMINISTERED VARCHAR(255),
    SOURCECOMMENT TEXT
)'''

In [18]:
connection = create_connection('root', 'Mysql@2025', '127.0.0.1', 'vaccination')

Error: 2003: Can't connect to MySQL server on '127.0.0.1:3306' (Errno 10061: No connection could be made because the target machine actively refused it)

In [19]:
df_coverage_drop = "coverage_data"
df_incidence_drop = "incidence_rate_data"
df_reported_cases_drop = "reported_cases"
df_vaccine_intro_drop = "vaccine_introduction_data"
df_vaccine_schedule_drop = "vaccine_schedule_data"

In [20]:
drop_table('root', 'Mysql@2025', '127.0.0.1', 'vaccination', df_coverage_drop)

UnboundLocalError: cannot access local variable 'cursor' where it is not associated with a value

In [ ]:
if connection:
        #  Table names (match your desired table names)
        df_coverage_drop = "coverage_data"
        df_incidence_drop = "incidence_rate_data"
        df_reported_cases_drop = "reported_cases"
        df_vaccine_intro_drop = "vaccine_introduction_data"
        df_vaccine_schedule_drop = "vaccine_schedule_data"

        #  Drop tables
        drop_table(connection, df_coverage_drop)
        drop_table(connection, df_incidence_drop)
        drop_table(connection, df_reported_cases_drop)
        drop_table(connection, df_vaccine_intro_drop)
        drop_table(connection, df_vaccine_schedule_drop)

        connection.close()

else:
            print("Connection to the database failed, cannot proceed with dropping tables.")

TypeError: drop_table() missing 1 required positional argument: 'db'